*{
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
}

header {
    background: lightgray;
    border-radius: 0 0 100px 100px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 20px;

        ul {
            display: inline-flex;
            list-style: none;
            padding-left: 0;

            li {
                margin: auto 5px;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .right-nav {
            li {
                margin: auto 0;
            }

            li::after {
                content: "/";
                margin: 10px;
            }

            li:last-child {
                &::after {
                    content: "";
                    margin: 0;
                }
            }
        }

        .left-nav span {
            padding: 10px;
            width: 75px;
            display: inline-block;
            text-align: center;
            background: white;
            border-radius: 40px;
        }
    }

    .header-info {
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .header-info-foto {
            display: flex;
            justify-content: center;
            margin-top: 50px;

            img {
                width: 10%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
                border: 3px solid white;
            }
        }

        h1 {
            width: 30%;
            text-align: center;
            font-size: 3rem;
        }

        .action-button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            background: black;
            padding: 20px 50px;
            border-radius: 50px;

            img {
                margin-left: 10px;
            }

            &:hover {
                box-shadow: 0 0 10px 1px black;
            }
        }
    }
}

.section-partners {
    background: lightgray;

    .container {
        background: white;
        height: 20vh;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0 0 100px 100px;

        img {
            width: 10%;
        }
    }


}

.section-colab {
    background: lightgray;
    padding-bottom: 10vh;
    padding-top: 10vh;

    h1 {
        padding: 3rem;
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .colab-items{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    header {
        .header-info-foto {
            width: 400vw;
            height: 30vh;
        }

        nav {
            flex-direction: column;
        }
    }
        .h1 {
            font-size: 1.2rem !important;
        }
    .section-partners img {
        display: none;
    }

    .section-partners img:first-child {
        display: block;
        width: 35vw;
        height: 35%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .action-button {
        width: 30vw;
        height: 5vh;
    }

    a > img {
        width: 4vw;
        height: 3vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        .header-info-foto {
            width: 300vw;
            height: 25vh;
        }

        .h1 {
            font-size: 1.2rem !important;
        }

    }

    .section-partners img {
        display: none;
    }

        .section-partners img:nth-child(odd) {
            display: block;
            width: 20vw;
            height: 30%;
        }


}